@{
    ViewData["Title"] = "Mission Eight";
}

<h1>Mission Eight</h1>


<div>
    <a asp-controller="Home" asp-action="TaskForm">Fill Out Form</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Quad">View Tasks Here</a>
</div>
